<template>
  <button
    class="button"
    @click.stop="handleClick"
  >
    {{ title }}
  </button>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
  props: ['title'],
  emits: ['click'],
  setup(props, context) {
    const handleClick = () => {
      context.emit('click');
    };

    return {
      handleClick,
    };
  },
});
</script>

<style lang="scss" scoped>
  button {
    height: 40px;
    border: 2px solid $primary;
    border-radius: 4px;
    background: $primary;
    color: white;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      border: 2px solid $gray;
    }
  }
</style>
