<template>
  <div class="canvas-wrapper">
    <div
      v-if="isKing"
      class="tools-panel"
    >
      <img
        class="icon rubber"
        :src="rubber"
        @click="handleClear"
      />
    </div>
    <canvas
      ref="canvasElement"
      :class="{
        disabled: !isKing
      }"
      @mouseleave="handleMouseUp"
      @mousedown="handleMouseDown"
      @mouseup="handleMouseUp"
      @mousemove="handleMouseMove"
    />
  </div>
</template>

<script>
import rubber from '@/assets/rubber.svg';
import { usePermissions, useCanvas } from '@/hooks';

export default {
  setup() {
    const { isKing } = usePermissions();
    const {
      canvasElement,
      handleMouseDown,
      handleMouseMove,
      handleMouseUp,
      handleClear,
    } = useCanvas();

    return {
      isKing,
      canvasElement,
      handleMouseMove,
      handleMouseDown,
      handleMouseUp,
      handleClear,
      rubber,
    };
  },
};
</script>

<style lang="scss" scoped>
  .canvas-wrapper {
    height: 100vh;
    width: auto;
    position: relative;

    .tools-panel {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 10px;
      border-bottom: 2px solid $secondary;

      .icon {
        height: 30px;

        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
    }

    .disabled {
      pointer-events: none;
    }
  }
</style>
