<template>
  <input
    class="input"
    v-bind="$props"
    :placeholder="placeholder"
    :value="value"
    @input="onChange"
  />
</template>

<script>
import {
  defineComponent,
} from 'vue';

export default defineComponent({
  emits: ['update:value'],
  setup(props, context) {
    const onChange = (e) => {
      context.emit('update:value', e.target.value);
    };

    return {
      onChange,
      placeholder: props.placeholder,
      value: props.value,
    };
  },
});
</script>

<style lang="scss" scoped>
  .input {
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    border: 2px solid $gray;
    border-radius: 4px;
    color: $darkgray;

    &:hover {
      border-color: $darkgray;
    }

    &:focus {
      border-color: $primary;
    }
  }
</style>
