<template>
  <div class="img-wrapper">
    <div class="container">
      <img :src="loader" />
      <p>{{ title }}</p>
    </div>
  </div>
</template>

<script>
import loader from '@/assets/loader.svg';

export default {
  props: {
    title: String,
  },
  setup() {
    return {
      loader,
    };
  },
};
</script>

<style lang="scss" scoped>
  .img-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $background;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        height: 60px;
        margin-bottom: 15px;
      }

      p {
        color: $darkgray;
      }
    }
  }
</style>
