<template>
  <div
    class="wrapper"
  >
    <p class="email">
      {{ message.email?.split('@')[0] }}
    </p>
    <p class="text">
      {{ message.text }}
    </p>
    <div
      class="reaction-wrapper"
    >
      <img
        v-if="isKing || isLiked"
        :class="{
          'reaction-icon': true,
          'like': true,
          'picked': isLiked,
        }"
        :src="like"
        @click="handleLike"
      />
      <img
        v-if="isKing || isDisliked"
        :class="{
          'reaction-icon': true,
          'dislike': true,
          'picked': isDisliked,
        }"
        :src="like"
        @click="handleDislike"
      />
    </div>
  </div>
</template>

<script>

import { usePermissions } from '@/hooks';
import { computed } from 'vue';
import like from '@/assets/like.svg';

export default {
  props: {
    message: Object,
  },
  emits: ['pick-status'],
  setup(props, context) {
    const { isKing } = usePermissions();

    const handleLike = () => {
      context.emit('pick-status', props.message.id, 'like');
    };

    const handleDislike = () => {
      context.emit('pick-status', props.message.id, 'dislike');
    };

    const isLiked = computed(() => props.message.status !== 'pending' && props.message.status === 'like');
    const isDisliked = computed(() => props.message.status !== 'pending' && props.message.status === 'dislike');

    return {
      like,
      handleLike,
      handleDislike,
      isLiked,
      isDisliked,
      isKing,
    };
  },
};
</script>

<style lang="scss" scoped>
  .wrapper {
      display: flex;
      flex-direction: column;
      padding: 15px;
      background: $secondary;
      border-radius: 5px;
      box-shadow: $card-shadow;
      position: relative;

      .email {
        color: $primary;
        margin-bottom: 8px;
        font-size: 12px;
      }

      .text {
        color: white;
      }

      p {
        line-height: 12px;
      }

      .reaction-wrapper {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;

        .reaction-icon {
          height: 20px;
          opacity: 0.6;
          transition: .2s;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }

          &:last-child {
            margin-left: 15px;
          }
        }

        .like {
          position: relative;
          top: -2px;
        }

        .dislike {
          transform: rotate(-180deg);
          position: relative;
          bottom: -2px;
        }

        .picked {
          margin-top: -2px;
          opacity: 1;
        }
      }
    }
</style>
