<template>
  <div
    class="wrapper"
  >
    <img
      v-if="isKing"
      className="crown-icon"
      :src="crownIcon"
    />
    <img
      :src="`https://eu.ui-avatars.com/api/?name=${user.email[0]}+${user.email[1]}&background=fc814a&color=564256`"
    />
    <p>{{ user.email?.split('@')[0] }}</p>
  </div>
</template>

<script>
import { onMounted, ref } from 'vue';
import { usePermissions } from '@/hooks';
import crownIcon from '@/assets/crown.svg';

export default {
  props: {
    user: Object,
  },
  setup(props) {
    const mounted = ref(false);

    const { isKing } = usePermissions(props.user.id);

    onMounted(() => {
      setTimeout(() => {
        mounted.value = true;
      }, 2000);
    });

    return {
      isKing,
      crownIcon,
      mounted,
    };
  },
};
</script>

<style lang="scss" scoped>
  .wrapper {
      display: flex;
      align-items: center;
      padding: 15px;
      background: $secondary;
      border-radius: 5px;
      box-shadow: $card-shadow;
      position: relative;

      .crown-icon {
        position: absolute;
        height: 20px;
        top: 4px;
        left: 9px;
        transform: rotate(-23deg);
      }

      img {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      p {
        line-height: 12px;
        color: white;
      }
    }
</style>
