<template>
  <div
    class="auth"
    :style="{ backgroundImage: `url(${crocodile})` }"
  >
    <AuthForm />
  </div>
</template>

<script>
import crocodile from '@/assets/crocodile.png';
import AuthForm from '@/components/blocks/AuthForm.vue';

export default {
  components: {
    AuthForm,
  },
  setup() {
    return { crocodile };
  },
};
</script>

<style lang="scss">
  @keyframes croco {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }

  .auth {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: round;
    animation: croco 10s linear infinite;

  }
</style>
