<template>
  <div class="home">
    <div class="sidebar">
      <h3>Players</h3>
      <PlayersList class="players-list" />
      <h3 v-if="isInGame">
        Messages
      </h3>
      <MessagesList v-if="isInGame" />
    </div>
    <Canvas />
    <PickedWordBlock v-if="isInGame && isKing" />
    <Loader
      v-if="isLookingForPlayers"
      title="Looking for players..."
      class="loader-wrapper"
    />
    <WinnerLayout
      v-if="isGameFinished"
      winner="Pupishka"
      :word="word"
    />
  </div>
</template>

<script lang="ts">
import { usePermissions, useGameState, usePickedWord } from '@/hooks';
import {
  PlayersList, MessagesList, PickedWordBlock, WinnerLayout,
} from '@/components/blocks';
import { Canvas, Loader } from '@/components/ui-kit';

export default {
  components: {
    PlayersList,
    MessagesList,
    Canvas,
    Loader,
    PickedWordBlock,
    WinnerLayout,
  },

  setup() {
    const { isKing } = usePermissions();
    const { word } = usePickedWord();
    const {
      isLookingForPlayers,
      isInGame,
      isGameFinished,
    } = useGameState();

    return {
      word,
      isKing,
      isLookingForPlayers,
      isInGame,
      isGameFinished,
    };
  },
};
</script>

<style lang="scss" scoped>
.home{
  display: flex;

  .sidebar{
    position: relative;
    z-index: 3;
    padding: 20px;
    background: $gray;
    width: 350px;
    height: 100vh;
    box-shadow: $card-shadow;

    h3 {
      margin-bottom: 10px;
      color: $secondary;
    }

    .players-list {
      margin-bottom: 15px;
    }
  }

  .loader-wrapper {
    z-index: 4;
    background: rgba(255,255,255,.2);
  }
}
</style>
