<template>
  <form
    class="form-wrapper"
    @submit.prevent="onSubmit"
  >
    <Loader
      v-if="actionPending"
      class="loader"
    />
    <h1>Croco</h1>
    <div class="tabs-wrapper">
      <Button
        v-for="tab in tabs"
        :key="tab.id"
        class="tab"
        type="button"
        :class="{ tab_active: activeTab === tab.id}"
        :title="tab.title"
        @click="handleTabClick(tab.id)"
      />
    </div>
    <Input
      v-model:value="email"
      type="email"
      placeholder="Enter email"
      class="form-input"
    />
    <Input
      v-model:value="password"
      type="password"
      placeholder="Enter password"
      class="form-input"
    />
    <Button
      type="submit"
      :title="buttonTitle"
    />
  </form>
</template>

<script>
import {
  defineComponent, reactive, toRefs, ref, computed,
} from 'vue';
import { useNotifications } from '@/hooks';
import { firebase } from '@/utils/services';
import { Input, Button, Loader } from '@/components/ui-kit';
import { AUTH_TYPES } from '@/_constants';

const tabs = [
  {
    id: AUTH_TYPES.SIGN_UP,
    title: 'Sign up',
  },
  {
    id: AUTH_TYPES.LOG_IN,
    title: 'Log in',
  },
];

export default defineComponent({
  components: {
    Input,
    Button,
    Loader,
  },
  setup() {
    const { notify } = useNotifications();

    const state = reactive({
      nickname: '',
      email: '',
      password: '',
      actionPending: false,
    });

    const activeTab = ref(AUTH_TYPES.SIGN_UP);

    const handleTabClick = (id) => {
      activeTab.value = id;
    };

    async function onSubmit() {
      try {
        state.actionPending = true;

        if (activeTab.value === AUTH_TYPES.SIGN_UP) {
          await firebase.signUpNewUser(state.email, state.password);
        } else {
          await firebase.logIn(state.email, state.password);
        }
      } catch (e) {
        notify.error(e.message);
      } finally {
        state.actionPending = false;
      }
    }

    const buttonTitle = computed(
      () => tabs.find(({ id }) => activeTab.value === id)?.title,
    );

    return {
      ...toRefs(state),
      handleTabClick,
      tabs,
      onSubmit,
      activeTab,
      AUTH_TYPES,
      buttonTitle,
    };
  },
});
</script>

<style lang="scss" scoped>
  .form-wrapper{
    position: relative;
    width: 400px;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    background-color: $background;
    box-shadow: $modal-shadow;
    border: 2px solid $gray;
    border-radius: 6px;

    .loader {
      opacity: 0.8;
      z-index: 4;
    }

    h1{
      color: $primary;
      font-size: 70px;
      line-height: 70px;
      letter-spacing: 5px;
      filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.24));
      margin-bottom: 35px;
      text-align: center;
    }

    .tabs-wrapper {
      width: 100%;
      display: flex;
      margin-bottom: 10px;

      .tab {
        flex-grow: 1;
        background: $gray;
        border: none;

        &:not(:last-child){
          margin-right: 10px;
        }

        &_active {
          background: $secondary;
        }
      }
    }

    .form-input:not(:last-child) {
      margin-bottom: 10px;
    }
  }
</style>
