<template>
  <form
    class="messages-list-wrapper"
    @submit.prevent="emitNew"
  >
    <h3
      v-if="!messagesList.length"
      class="no-message"
    >
      No messages
    </h3>
    <MessageCard
      v-for="message in messagesList"
      :key="message.id"
      class="message-card"
      :message="message"
      @pick-status="handleReactOnMessage"
    />
    <Input
      v-if="!isKing"
      v-model:value="inputtedValue"
      placeholder="Type message here"
    />
  </form>
</template>

<script lang="ts">
import { usePermissions, useMessages } from '@/hooks';
import { Input, MessageCard } from '@/components/ui-kit';

export default {
  components: {
    Input,
    MessageCard,
  },
  setup() {
    const {
      inputtedValue,
      messagesList,
      emitNew,
      emitUpdate,
    } = useMessages();

    const { isKing } = usePermissions();

    const handleReactOnMessage = (id, status) => {
      emitUpdate(id, status);
    };

    return {
      isKing,
      messagesList,
      inputtedValue,
      emitNew,
      emitUpdate,
      handleReactOnMessage,
    };
  },
};
</script>

<style lang="scss" scoped>
  .no-message {
    color: $darkgray;
    margin-bottom: 15px;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    border: 2px dashed $darkgray;
    text-align: center;
    line-height: 60px;
  }

  .messages-list-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .message-card {
      margin-bottom: 15px;
    }
  }
</style>
