<template>
  <transition-group
    tag="div"
    class="notifications-wrapper"
    name="fade"
  >
    <div
      v-for="notification in notifications"
      :key="notification.id"
      :class="{
        notification: true,
        error: notification.type === 'error',
        success: notification.type === 'success',
      }"
    >
      {{ notification.content }}
    </div>
  </transition-group>
</template>

<script>
import { useNotifications } from '@/hooks';

export default {
  setup() {
    const { notifications } = useNotifications();

    return {
      notifications,
    };
  },
};
</script>

<style lang="scss" scoped>
  .fade-item {
    display: inline-block;
    margin-right: 10px;
  }
  .fade-enter-active, .fade-leave-active {
    transition: all 1s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }

  .notifications-wrapper {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    padding: 10px;

    .notification {
      min-width: 200px;
      padding: 15px;
      box-shadow: $card-shadow;
      border-radius: 5px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    .error {
      background: red;
    }

    .success {
      background: lightgreen;
    }
  }
</style>
