<template>
  <div class="word-wrapper">
    <div
      class="picked-word"
    >
      {{ word }}
      <img
        :src="refreshIcon"
        @click="emit"
      />
    </div>
    <div
      :class="{
        'word-disclaimer': true,
        'word-disclaimer-fullscreen': !mounted
      }"
    >
      <div class="title">
        Нарисуй это слово
      </div>
      <p>{{ word }}</p>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue';
import refreshIcon from '@/assets/refresh.svg';
import { usePickedWord } from '@/hooks';

export default {
  setup() {
    const mounted = ref(false);

    const {
      word,
      emit,
    } = usePickedWord();

    onMounted(() => {
      setTimeout(() => {
        mounted.value = true;
      }, 2000);
    });

    return {
      word,
      emit,
      refreshIcon,
      mounted,
    };
  },
};
</script>

<style lang="scss" scoped>
  .picked-word {
    position: absolute;
    top: 10px;
    right: 10px;
    background: $secondary;
    padding: 8px;
    border-radius: 4px;
    font-size: 20px;
    color: $primary;
    display: flex;
    align-items: center;
    z-index: 3;
    transition: .3s;
    height: 40px;
    width: min-width;

    span {
      color: white;
      display: block;
      margin-right: 5px;
    }

    img {
      height: 15px;
      margin-left: 5px;
    }
  }

  .word-disclaimer {
    position: absolute;
    z-index: 3;
    background: $secondary;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      color: $primary;
      font-size: 60px;
      line-height: 60px;
      letter-spacing:1px;
      filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.24));
      margin-bottom: 10px;
      text-align: center;
    }

    .title, p {
      transition: .3s;
      transform: scale(0);
    }

    p {
      color: $secondary;
      margin-top: 10px;
      background: $primary;
      padding: 6px 10px;
      border-radius: 5px;
      font-size: 50px;
      width: 100%;
      text-align: center;
    }

    &-fullscreen {
      width: 100%;
      height: 100%;
      top: 0px;
      right: 0px;
      opacity: 1;

      .title, p {
        transform: scale(1);
      }
    }
  }
</style>
