<template>
  <div class="list-wrapper">
    <UserCard
      v-for="player in playersList"
      :key="player.id"
      :user="player"
      class="user-item"
    />
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
} from 'vue';
import { usePlayers } from '@/hooks';
import { UserCard } from '@/components/ui-kit';

export default defineComponent({
  components: {
    UserCard,
  },
  setup() {
    const { playersList } = usePlayers();

    return {
      playersList,
    };
  },
});
</script>

<style lang="scss" scoped>
  .list-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    .user-item {
      &:not(:last-child){
        margin-bottom: 15px;
      }
    }
  }
</style>
