<template>
  <div class="tabs-wrapper">
    <Button
      v-for="tab in tabs"
      :key="tab.id"
      class="tab"
      :class="{ tab_active: value === tab.id}"
      :title="tab.title"
      @click="handleTabClick(tab.id)"
    />
  </div>
</template>

<script>
import { Button } from '@/components/ui-kit';

export default {
  components: {
    Button,
  },
  props: {
    value: {
      type: String,
    },
    tabs: {
      type: Array,
    },
  },
  emits: ['update:value'],
  setup(props, context) {
    const handleTabClick = (id) => {
      context.emit('update:value', id);
    };

    return {
      handleTabClick,
    };
  },
};
</script>

<style lang="scss" scoped>
  .tabs-wrapper {
    width: 100%;
    display: flex;

    .tab {
      flex-grow: 1;
      background: $gray;
      border: none;

      &:not(:last-child){
        margin-right: 10px;
      }

      &_active {
        background: $secondary;
      }
    }
  }
</style>
