<template>
  <div
    :class="{
      'layout': true,
      'layout-fullscreen': !mounted
    }"
  >
    <div class="title">
      Победитель: {{ winner }}
    </div>
    <p>{{ word }}</p>
  </div>
</template>

<script>
import { onMounted, computed } from 'vue';
import { usePlayers, useGameState, usePickedWord } from '@/hooks';

export default {
  setup() {
    const { playersList } = usePlayers();
    const { gameData } = useGameState();
    const { word } = usePickedWord();

    const winner = computed(() => playersList.value.find(({ id }) => id === gameData.value.roomKing)?.email?.split('@')[0]);

    return {
      winner,
      word,
    };
  },
};
</script>

<style lang="scss" scoped>
  .layout {
    position: absolute;
    z-index: 3;
    background: $secondary;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      color: $primary;
      font-size: 60px;
      line-height: 60px;
      letter-spacing:1px;
      filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.24));
      margin-bottom: 10px;
      text-align: center;
    }

    .title, p {
      transition: .3s;
      transform: scale(0);
    }

    p {
      color: $secondary;
      margin-top: 10px;
      background: $primary;
      padding: 6px 10px;
      border-radius: 5px;
      font-size: 50px;
      width: 100%;
      text-align: center;
    }

    &-fullscreen {
      width: 100%;
      height: 100%;
      top: 0px;
      right: 0px;
      opacity: 1;

      .title, p {
        transform: scale(1);
      }
    }
  }
</style>
