<template>
  <NotificationsBlock />
  <div
    v-if="!loading"
    class="app-wrapper"
  >
    <router-view />
  </div>
  <Loader v-if="loading" />
</template>

<script>
import router from '@/router';
import { Loader } from '@/components/ui-kit';
import { NotificationsBlock } from '@/components/blocks';
import {
  defineComponent, onMounted, ref,
} from 'vue';
import * as firebase from 'firebase';

export default defineComponent({
  components: {
    Loader,
    NotificationsBlock,
  },
  setup() {
    const loading = ref(true);

    onMounted(() => {
      firebase.auth().onAuthStateChanged((userData) => {
        loading.value = false;

        if (userData) {
          router.push('/');
        } else {
          router.push('/auth');
        }
      });
    });

    return {
      loading,
    };
  },
});
</script>

<style lang="scss">
.app-wrapper{
  height: 100vh;
  max-height: 100vh;
  background-color: $background;
}
</style>
