$background: #e8e8e8;
$darkgray: #96939b;
$gray: #bfbfbf;
$primary: #fc814a;
$secondary: #564256;
$modal-shadow: 4px 4px 5px 0px rgba(0,0,0,0.24);
$card-shadow: 2px 2px 3px 0px rgba(0,0,0,0.24);

*{
  font-family: 'Roboto', sans-serif;
}
